<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
    <style>
        body {
      font-family:'Lucida Console', monospace;
      font-size: 18px;
      color: #111;
      background-color: white;
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 50px;
      box-sizing: border-box;
    }
    </style>
</head>
<body>
    <h1>Ricette</h2>
    <h2>Pizze</h2>
    <ul>
{% for pizza,link in pizze.items() %}
<li><a href="pizze/{{link}}">{{pizza}}</a></li>
{% endfor %}
    </ul>
</body>
</html>