<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titolo}}</title>
    <style>
        body {
      font-family:'Lucida Console', monospace;
      font-size: 18px;
      color: #111;
      background-color: white;
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 50px;
      box-sizing: border-box;
    }
    </style>
</head>
<body>
    <h3><a href="/">Back Home</a></h2>
    <h1>{{titolo}}</h1>
    <p>
     Video ricetta <a href="{{video}}" target="_blank">QUI</a>        
    </p>
    <h2>Inserire dati</h2>
    <form action="" method="get">
        <label for="n_pizze">Numero di pizze</label>
        <input type="number" id="n_pizze" name="pizze" placeholder="Enter numero pizze"  >
        <br><br>
        <label for="ora">Ora cena:</label>
        <input type="time" id="ora" name="ora" placeholder="Enter delivery hours" >
        <br><br>
        <button type="submit">Conferma</button>
    </form>
    <h2>Ricetta</h2>
    <p>Numero pizze: {{n_pizze}}</p>
    <p>Ora cena: {{ora_cena}}</p>
    <h2>Biga</h2>
    <p>Tre giorni prima della cena, alle {{ora_cena}} preparare:</p>
    <h3>Ingredienti</h3>
    <ul>
        <li>Farina: {{farina_biga}} g</li>
        <li>Acqua: {{acqua_biga}} g</li>
        <li>Lievito fresco: {{lievito_biga}} g</li>
    </ul>
    <h3>Procedimento</h3>
    <ol>
        <li>Sciogliere il lievito in acqua</li>
        <li>Unire farina ed impastare bene</li>
        <li>Mettere biga in frigo insieme a {{acqua_chiusura | round(2)}} g di acqua</li>
    </ol>
    <h2>Chiusura</h2>
    <p>Il giorno successivo alla biga, alle {{ora_cena}} preparare:</p>
    <h3>Ingredienti</h3>
    <ul>
        <li>Acqua: prendere {{acqua_chiusura}} g da quella in frigo</li>
        <li>Lievito fresco: {{lievito_chiusura}} g</li>
        <li>Sale: {{sale_chiusura}} g</li>
    </ul>
    <h3>Procedimento</h3>
    <ol>
        <li>Spezzare biga ed autolisi, mettere lievito e {{(acqua_chiusura/3)|round(0)}} g di acqua</li>
        <li>Impastare con foglia, ed aggiungere poca acqua alla volta a filo</li>
        <li>In circa 20 minuti l'acqua dovrebbe essere finita, inserire il sale ed impastare fino assorbimento</li>
        <li>Creare {{n_pizze}} panetti da 280g e mettere in frigo  per 48H fino all'ora di cena = {{ora_cena}}</li>
    </ol>
</body>
</html>